<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 상품 관리</title>
</head>
<body>
<h1>관리자 상품 관리 페이지</h1>

<h2>상품 목록</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>상품명</th>
        <th>가격</th>
        <th>이미지</th>
        <th>MD 승인</th>
        <th>설명</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">id</td>
        <td th:text="${product.name}">name</td>
        <td th:text="${product.price}">price</td>
        <td th:text="${product.imageUrl}">imageUrl</td>
        <td th:text="${product.approved ? '승인' : '미승인'}">approved</td>
        <td th:text="${product.description}">description</td>
        <td class="action-buttons">
            <a th:href="@{/admin/products/{id}/edit(id=${product.id})}">
                <button type="button">수정</button>
            </a>

            <form th:action="@{/admin/products/{id}(id=${product.id})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/admin/products}" method="get">
    <label for="id">조회할 ID:</label>
    <input type="number" id="id" name="id" th:value="${param.id}"><br><br>
</form>
<a th:href="@{/admin/products/new}">
    <button type="button">상품 추가</button>
</a>

</body>
</html>